<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<h1 align="center">Grafica de Medicos y Pacientes</h1>
    <a routerLink="/grafica-medicos"> <img align="left" width="40%" src="https://img.freepik.com/vector-gratis/doctores-grupo-trabajadores-salud-medico-jefe-especialistas-medicos_165429-5.jpg?w=1380"></a>
    <a routerLink="/grafica-pacientes"> <img align="right"  width="40%" src="https://i.pinimg.com/736x/16/d2/60/16d2603048039d2c71a195d5323aa212.jpg"></a><br><br><br>
    

    <figure class="highcharts-figure">
        <div id="container"></div></figure>
    