<h1>{{title}} <a routerLink="/inicio"><img  width="4%" height="4%" src="https://w7.pngwing.com/pngs/835/359/png-transparent-fox-illustration-drawing-animation-cartoon-fox-little-fox-mammal-cat-like-mammal-carnivoran.png"></a></h1>
<ul class="inicio">
  <li><a routerLink="/empleados">Empleados</a>
    <ul>
      <li><a routerLink="/medicos">Medicos</a></li>
      <li><a routerLink="/administrativos">Administrativos</a></li>
    </ul>
  </li>
  <li><a routerLink="/pacientes">Pacientes</a>
    <ul>
      <li><a routerLink="/covid">Covid</a></li>
      <li><a routerLink="/urgencias">Urgencias</a></li>
    </ul>
  </li>
  <li><a routerLink="/graficas">Gráficas</a>
  </li>
</ul>
<router-outlet></router-outlet>