<div class="col-md-4">
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h1>Empleados</h1>
            <button routerLink="/inicio">Volver</button>
            <div><br>
           <button class="btn btn-success float-end mt-4" routerLink="/crear-empleados">  Crear Empleado </button><br></div></div><div>
        <table class="table table-striped mt-5" border="2px solid grey" align="center">
<br><br>
                  <tr align="center">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Contacto</th>
                    <th>Sueldo Base</th>
                    <th>Puesto</th>
                    <th>Especialidad</th>
                    <th>Idiomas</th>
                  </tr>
            <tr *ngFor="let empleados of trabajador" align="center">
                <td>{{empleados._id}}</td>
                <td>{{empleados._nombre}}</td>
                <td>{{empleados._apellido}}</td>
                <td>{{empleados._contacto}}</td>
                <td>{{empleados._sueldo}}</td>
                <td>{{empleados._puesto}}</td>
                <td>{{empleados._especialidad}}</td>
                <td>{{empleados._idiomas}}</td>
            </tr>
        </table>
        </div>
    </div>
</div>